datajoint>=0.13.0
element_interface>=0.4.0
ipywidgets>=8.0.0
plotly
scipy==1.10.1
nd2
sbxreader @ git+https://github.com/datajoint/sbxreader
scanreader @ git+https://github.com/atlab/scanreader.git
suite2p @ git+https://github.com/tdincer/suite2p.git@23c67b5ff220883584379b30aeb213481b89c237
